*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Pretendard', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fafafa;
}

body {
  margin: 0;
  min-height: 100vh;
}
